<!-- FORMULARIOS DE NOVOS PRODUTOS -->
<div *ngIf="productAction.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!--Nome do produto-->
      <input pInputText placeholder="Nome" formControlName="name" />
      <!--Categoria do produto-->
      <p-dropdown styleClass="w-full" [options]="categoriesData" [(ngModel)]="selectedCategories" optionLabel="name"
        optionValue="id" [showClear]="true" [editable]="true" placeholder="Selecione uma categoria"
        formControlName="category_id"></p-dropdown>
      <!--Preço do produto-->
      <input pInputText placeholder="Preço" formControlName="price" />
      <!--Descriçao do produto-->
      <input pInputText placeholder="Descriçao" formControlName="description" />
      <!--Quantidade do produto-->
      <input pInputText type="number" placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>

  </form>
</div>

<!-- FORMULARIOS DE EDIÇAO DE  PRODUTOS -->
<div *ngIf="productAction.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
      <div class="card flex flex-column md:flex-column gap-3">
        <input pInputText placeholder="Nome" formControlName="name">
        <input pInputText  type="number" placeholder="Preço" formControlName="price">
        <input pInputText placeholder="Descrição" formControlName="description">
        <input pInputText type="number" placeholder="Quantidade" formControlName="amount">

        <div class="flex flex-row justify-content-center align-content-center align-items-center">
          <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Editar"
          ></p-button>
        </div>
      </div>
  </form>

</div>
